@import url(./colors.css);

body {
  padding-top: 100px;
}
.card{
  flex-direction: row;
  align-items:center;
  transition: all .5s ease-in-out;
}

.card-img-top {
  width: 250px;
  height: fit-content;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--card_hover);
}

.pWeb {
  background-color: var(--main_blue);
}