:root {
    --main_blue: #12c2e9;
    --main_purple: #c471ed;
    --main_salmon: #f64f59;

    --terminal_blue: #95e5f7;
    --terminal_purple: #d39af0;
    --terminal_salmon: #f7989f;
    --card_hover: #e3e3e3;
}