:root {
    --main_blue: #12c2e9;
    --main_purple: #c471ed;
    --main_salmon: #f64f59;

    --Dblue: #0c93b1;
    --Dpurple: #9657b6;
    --Dsalmon: #b43840;

    --card-hover: #e4e4e4;

    --Lblue: #95e5f7;
    --Lpurple: #d39af0;
    --Lsalmon: #f76f78;

    --shadow: #b1b1b1;

}