/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap'); /*heading/special label font*/

.text {
    font-size: 30px;
}

.welcome{
  font-family: 'Charm', cursive;
  /* making the font color the gradient */
  background: -webkit-linear-gradient(var(--main_blue), var(--main_purple), var(--main_salmon));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 15px;

  font-size: 48px; /*From UI Material Design*/
  margin-bottom: 2em;
}

.choice {
  /* change the bg color of a button to match our main gradient */
  /* background-image: linear-gradient(to right, var(--main_blue), var(--main_purple),  var(--main_salmon)); */
  color: white; /*text color*/
  transition: 0.5s;
  border: none;
  text-transform: uppercase;
  margin: 1em;
  font-size: 25px;
  /* font-weight: 700; */
  color: white !important;
}

.a{ background-color: var(--main_purple);}
.a:hover {
  background-color: var(--Dpurple) !important;
}

.b { background-color: var(--main_salmon);}
.b:hover {
  background-color: var(--Dsalmon) !important;
}

.re { background-color: var(--main_blue);}
.re:hover {
  background-color: var(--Dblue) !important;
}

.end{
  font-weight: 600;
  font-size: 40px;
  color: black;
}


  /* layout for story text */
.text {
  width: fit-content;
  min-height: fit-content;
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  transition: linear;
  transition-duration: 1.5s;
}

/* box for text, buttons, imgs. */
.area{
  background-color: azure;
  width: inherit;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 20px;
  margin-top: 30px;
}
/* organizes buttons */
.buttons {
  text-align: center;
  margin-left: 10vh;
  margin-right: 10vh;
  vertical-align: bottom;
  text-decoration:none;
}
