@import url(./colors.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /*notmal text font*/

body{
  /* width: 100%;
  height: auto;  */
  
  font-family: 'Roboto', sans-serif;
}

/* home icon */
#bookIcon { 
  margin-right: 10px;
}

/*Mske the background of nav buttons change on hover*/
nav ul li a:hover {
  background-color: var(--main_purple) !important;
  color: white !important;
}
 /* trying to center the name */
.home {
  font-size: 36px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* changing the active nav button bg color */
.active {
  background-color: var(--main_blue) !important;
}

/* keep the bg color of the active page */
.active:hover {
  background-color: var(--main_blue) !important;
}

/* spacer for the bottom */
.footer {
  height: auto;
  position: relative;
  width: 100%;
  bottom: 0px;
}
