#bookIcon {
  margin-right: 5px;
}

/*Mske the background of nav buttons change on hover*/
nav ul li a:hover {
  background-color: #c471ed !important;
  color: white !important;
}

.active {
  color: black ;
  background-color: #12c2e9 !important;
}
