@import url(./colors.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); /*notmal text font*/

body{
  /* width: 100%;
  height: auto;  */
  padding-bottom: 50px;
  
  font-family: 'Roboto', sans-serif;
}
#bookIcon {
  margin-right: 5px;
}

/*Mske the background of nav buttons change on hover*/
nav ul li a:hover {
  background-color: var(--main_purple) !important;
  color: white !important;
}

.active {
  background-color: var(--main_blue) !important;
}
.active:hover {
  background-color: var(--main_blue) !important;
}

.footer {
  height: auto;
  position: relative;
  width: 100%;
  bottom: 0px;
}
